<p-toast position="top-center"></p-toast>

@if (isTranslationsLoaded()) {
  <router-outlet></router-outlet>
} @else {
  <div class="fixed inset-0 flex flex-col items-center justify-center bg-slate-50 z-[9999]">
    <div class="flex flex-col items-center gap-4">
      <i class="pi pi-spin pi-spinner text-red-600 text-5xl"></i>
      <span class="text-slate-500 font-bold tracking-wide animate-pulse">Loading BuildIt...</span>
    </div>
  </div>
}

<p-dialog 
  header="Update Required" 
  [(visible)]="showUpdateDialog" 
  [modal]="true" 
  [closable]="false" 
  [closeOnEscape]="false"
  [draggable]="false"
  [resizable]="false">
  
    <p class="m-0 text-slate-700">
      A new version of BuildIt is available. Please update the app to continue.
    </p>
    
    <ng-template pTemplate="footer">
        <p-button 
          label="Update Now" 
          icon="pi pi-download" 
          (onClick)="goToStore()">
        </p-button>
    </ng-template>
</p-dialog>